




body{
    background-color:#ecf0f1;
}

h3{
    padding-top:2rem;
    text-align: center;
}

 p{ color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

 

.minDiv{
    display:flex;
    justify-content: space-around;
    margin: 4rem;
}


.femDiv{
    margin: 4rem;
   display: flex;
   flex-direction:column;
   align-items: center;

}

.weatherDiv{
    border:solid;
    margin: 3px;
    width:18rem;
}